name: CI/CD Pipeline

on:
  push:
    branches:
      - main  

jobs:
  # Job 1: Build and Tag Docker Image for ECR
  build_and_tag_ecr:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t my-python-app:latest .

      - name: Tag Docker Image for ECR
        run: |
          # Tagging the image with ECR repository URL
          docker tag my-python-app:latest ${{ secrets.AWS_ACCESS_KEY_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/my-python-app:latest

      - name: Display images
        run: docker images

  # Job 2: Scan Docker Image with Trivy (using the locally built image)
  trivy_scan:
    runs-on: ubuntu-latest
    needs: build_and_tag_ecr 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Trivy
        uses: aquasecurity/setup-trivy@v0.2.0
        with:
          version: 'latest'
      - name: Scan Docker Image with Trivy (local scan)
        run: |
          # Run Trivy scan and redirect the output to a file
          trivy image my-python-app:latest > report.txt
      - name: Save Trivy report as artifact
        run: |
          mkdir -p reports
          mv report.txt reports/

  # Job 3: Push Docker Image to Amazon ECR 
  push_ecr:
    runs-on: ubuntu-latest
    needs: trivy_scan  

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Push Docker Image to ECR
        run: |
          docker push ${{ secrets.AWS_ACCESS_KEY_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/my-python-app:latest

  # Job 4: Upload Trivy Report as an Artifact (optional)
  upload_report:
    runs-on: ubuntu-latest
    needs: trivy_scan  

    steps:
      - name: Upload Trivy scan report as an artifact
        uses: actions/upload-artifact@v3
        with:
          name: trivy-report
          path: reports/report.txt
